<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/common/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/common/global.css'/>
</head>
<body>
<header>

</header>
{{{body}}}
<script data-main="/js/module/main" src="/js/common/require.min.js"></script>
</body>
</html>
