<section class="user-login">
    <div class="form-horizontal users_operation">
        <div class="form-group">
            <label class="col-sm-3 control-label">手机号:</label>
            <div class="col-sm-9">
                <input name="mobile" placeholder="请输入手机号" id="mobile" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">密码:</label>
            <div class="col-sm-9">
                <input name="passward" placeholder="请输入密码" id="passward" type="password" value="">
            </div>
        </div>
        <div class="users_button">
            <button class="btn btn-sm btn-success" data-action="register">注册</button>
            <button class="btn btn-sm btn-success" data-action="login">登录</button>
        </div>
    </div>
</section>