.panel_popup {
  width: 400px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -150px;
  transition: all .3s;
  transform: translate(-300%, 0);
  background: #f1f1f1;
  border-radius: 5px;
  text-align: center; }

.panel_popup.show {
  transform: translate(0, 0); }

#progress {
  position: fixed;
  top: 50px;
  right: 20px; }

.user-login {
  width: 100%; }

.users_operation {
  border: 1px solid #323232;
  border-radius: 5px;
  box-shadow: -3px -3px 0 0 #646464 inset;
  margin: 100px auto;
  width: 300px;
  padding: 10px; }

.users_button {
  margin-top: 20px;
  text-align: center; }

.user-avatar {
  position: relative; }

.user-avatar img {
  vertical-align: top; }

#btn_add_avatar {
  vertical-align: bottom; }

.user-model-list {
  margin-top: 20px; }

.model-preview-img {
  display: block;
  position: relative;
  width: 100%; }

.model-preview-img:after {
  content: '';
  display: block;
  padding-top: 100%; }

.model-preview-img img {
  position: absolute;
  top: 0;
  left: 0; }

textarea {
  width: 300px;
  height: 100px; }

.audit-message div {
  text-align: center; }
