.panel_popup {
  width: 400px;
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -200px;
  transition: all .3s;
  -webkit-transform: translate(-300%, 0);
  transform: translate(-300%, 0);
  text-align: center;
  z-index: 999; }

.panel_popup.show {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

#progress {
  position: fixed;
  top: 50px;
  right: 20px; }

.user-login {
  width: 100%; }

.users_operation {
  border: 1px solid #323232;
  border-radius: 5px;
  box-shadow: -3px -3px 0 0 #646464 inset;
  margin: 100px auto;
  width: 300px;
  padding: 10px; }

.users_button {
  margin-top: 20px;
  text-align: center; }

.user-avatar {
  position: relative; }

.user-avatar img {
  vertical-align: top; }

#btn_add_avatar {
  vertical-align: bottom; }

.user-model-list {
  margin-top: 20px; }

.model-preview-img {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden; }

.model-preview-img:after {
  content: '';
  display: block;
  padding-top: 100%; }

.model-preview-img img {
  position: absolute;
  top: 0;
  left: 0; }

textarea {
  width: 300px;
  height: 100px; }

.imgList img {
  margin: 10px; }

.audit-message div {
  text-align: center; }

.user-model-list .panel, .style-model-list .panel, .model-list .panel {
  padding: 15px;
  border-radius: 2px;
  border: 0;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12); }

.canvas-model-preview {
  position: relative;
  padding: 0; }

.canvas {
  background: url("http://7xs7nv.com1.z0.glb.clouddn.com/bg.jpeg");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat; }

.canvas-model-preview .preview-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998; }

.canvas-model-preview .progress {
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 90%;
  z-index: 999; }

.fullscreen {
  position: absolute;
  bottom: 5px;
  right: 10px;
  z-index: 9999;
  width: 20px;
  height: 20px;
  background: #fff; }

#qrcode {
  margin-top: 20px; }

.admin-index {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.admin-index a {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 10px;
  height: 100px;
  line-height: 100px;
  border: 1px solid #646464;
  text-align: center; }
