<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="user-scalable=0,width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1,minimal-ui">
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="/css/h5/h5.css">
    <style>
        html, body {
            width: 100%;
            height: 100%;
            overflow-x: hidden;
        }
    </style>
</head>
<body>
<ul class="choosePanel">
    <li></li>
    <li></li>
    <li></li>
</ul>
<div class="panel panel-style show">
    <ul>
        <li data-style="1">人物</li>
        <li data-style="2">建筑</li>
        <li data-style="3">服饰</li>
        <li data-style="4">数码</li>
        <li data-style="5">WebGL官方模型</li>
        <li data-style="6">卡通</li>
        <li data-style="8">无贴图模型</li>
        <li data-style="9">动物</li>
        <li data-style="7">three.js官方模型</li>
    </ul>
</div>

<script data-main="/js/module/h5/main" src="/js/common/require.min.js"></script>
<script type="text/html" id="model-list">
    <%for(var i in list){
    var item = list[i];%>
    <div class="panel-item">
        <div class="img" data-id="<%=item.id%>">
            <div>
                <img src="<%=item.previewImg%>?imageView/0/w/<%=width%>/h/<%=width%>" width="100%">
            </div>
        </div>
        <div class="name">
            <%=item.name%>
        </div>
    </div>
    <%}%>
</script>
</body>
</html>