<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}--VR</title>
    <meta name="viewport"
          content="user-scalable=0,width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1,minimal-ui">
    <link type="text/css" rel="stylesheet" href="/css/h5/h5.css">
</head>
<body>
<div class="model_show">
    <div class="model_show_left"></div>
    <div class="model_show_right"></div>
</div>
<div class="parameter">
    alpha:<span id="alpha"></span><br>
    beta:<span id="beta"></span><br>
    gamma:<span id="gamma"></span><br>
    相机坐标:<span id=camera></span>
</div>
<div class="orientation">

</div>
<script data-main="/js/module/h5/main" src="/js/common/require.min.js"></script>
<script>
    var objUrl = '{{model.objUrl}}',
            mtlUrl = '{{model.mtlUrl}}',
            model_option = [{{model.modelOption}}];
</script>
</body>
</html>