body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header{
  width:100%;
  display: flex;
}
a {
  color: #00B7FF;
}
//input error抖动
.shake{
  animation: shaked .5s;
}
@keyframes shaked {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-5px);}
  20%, 40%, 60%, 80% {transform: translateX(5px);}
}
.btn-center{
  text-align: center;
}